.scheduler{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: rgb(0, 155, 203);
    margin-top: 65px;
}

.main-content-container{
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(250px, 450px);
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.table{
    /* width: 200px; */
    background-color: lightgray;
    border: 5px solid gray;
    border-radius: 30px;
    padding: 15px 20px; 
}

.table *{
    font-weight: bold;
    outline-style: solid;
    outline-offset: -0.5px;
    outline-width: 1px;
}
.table-head{
    background-color: lightskyblue;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-queue-row{    
    display: grid;
    grid-template-columns: 100px 1fr;
}

.resource-row{    
    display: grid;
    grid-template-columns: 50px 60px 90px 1fr;
}


.processes-row{    
    display: grid;
    grid-template-columns: 50px minmax(100px, 200px) 1fr;
}


.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    padding: 6px 20px;
}

.content-left{
    font-weight: lighter;
    text-align: left;
    padding: 6px 20px;
    background-color: lightblue;
}

.user-commands{
    width: 290px;
    display: grid;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}


@media (max-width: 700px){
    .scheduler-container{
        zoom: 0.8;
    }
}

