

.Misc-container{
    display: flex-row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:rgb(0, 155, 203) solid 8px;
    margin: 0 10vw;
    margin-top: 50px;
    border-radius: 80px;
    padding-bottom: 35px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.Misc{
    font-weight: bold;
    font-size: 35px;
    color: rgb(0, 155, 203);
    margin-bottom: 20px;
}